/* #navbar{
    border: 1px solid red;
    height: 110px;
  } */
  .breadcrumb{
    /* border: 1px solid blue; */
    width: fit-content;
    margin: 20px 0px 0px 320px;
    font-style: normal;
    font-size: 12px;
    color: #4f585e;
    font-weight: 400;
  }
  #home{
      color: #4f585e;
      text-decoration: none;
  }
  .carousel-inner {
     /* border: 1px solid green; */
     /* margin-left: 400px;10*/
     height: 300px;

  }
  .carousel-inner img{
      width: 300px;
      height: 300px;

  }
  #carouselExampleIndicators{
      border: 1px solid red;
      z-index: -1;
      width: 55%;
      margin: auto;
      margin-top: 50px;
  }
  .carousel-indicators li{
      border-radius: 120%;
      height: 10px;
      width: 10px;
  }
  .container{
      /* border: 1px solid red; */
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(4,1fr);
      gap: 5px;
      width: 74%;
      height: 550px;
      
  }
  .container div{
    width: 356px;
     display: flex;
     padding: 12px;
    border: 1px solid rgb(214, 223, 214);
    height: 120px;
    border-radius: 10px;
  }
  .container div:hover{
      cursor: pointer;
      border: 3px solid  #16876e; 
     box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
     
    }
  .container div img{
      margin-top: 11px;
      width:60px;
      height: 60px;
  }
  .container div p{
      height: fit-content;
      /* border: 1px solid; */
      width: 150px;
      margin: 38px 0px 0px 22px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #4a4a4a;

  }
  .container div h6{
      width: 52px;
      /* border: 1px solid red; */
    margin-left: 55px;
    height: fit-content;
    margin-top: 28px;
    font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      color: #16876e;
      /* text-align: center; */

  }
  #details{
      /* border: 1px solid blue; */
      height: 1400px;
      width: 74%;
      margin: auto;
      margin-top: 25px;
  }

  #details h5{
    font-family: sans-serif;
    font-style: normal;
    /* font-weight: lighter; */
    font-size: 18px;
    color: rgb(47, 31, 31);
    line-height: 38px;
  }

  #details p{
     
      font-family: sans-serif;
      font-style: normal;
      /* font-weight: lighter; */
      font-size: 16px;
      color:#4f585e;
      line-height: 25px;
      letter-spacing: 1px;
    }
    ul {
        list-style: none;
      }
    ul li::before {
        content: "\2022";
        color: #41b896;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -2em;
      }
      #footer_1{
          /* border: 1px solid red; */
        width: 1477px;
        margin:auto;
      }
      .a_tag{
          text-decoration: none;
      }
