*{
    font-family:"Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    /* border: 1px solid blue; */
    width: 100%;
    height: 20%;
    background: #10847e;
    margin: auto;
    overflow: hidden;
    position: sticky;
    top:0;
  
    }
    #upper_nav{
        /* border: 1px solid red; */
       width:80%;
       height:40%;
       display:flex;
       margin-top: 5px;
     
    }
    #logo{
       height:50px;
       width:200px;
       margin: 1% 6% 0 5%;
    }
    #logo img{
    height:100%;
    width:100%;
    
    }
    #pinCode{
      /* border: 1px solid red; */
       width:210px;
       margin-top: 1%;
       height:71px;
       margin-left: 20px;
       
    }
    #pinCode>select{
      color:#10847e;
      border-top-left-radius:  8px;
      border-bottom-left-radius: 8px;
      line-height:20px;
      width:100%;
      height:64%;
      font-size: 17px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      padding-right: 1%;
    }
    #searchBar{
      width:68%; 
      display: flex;
      margin-top: 1%;
      height:50px;
      border:none;
    }
   
    #searchBar>#innerbar{
      /* border: 1px solid red; */
        width:100%;
      height: 90%;
      font-size: 17px;
      font-weight:lighter;
      color:rgb(160, 158, 158);
      padding-left: 30px;
      word-spacing: 2px;
    }

    #searchBar>.iconse{
        /* border: 1px solid red; */
      height:87.2%;
      width:9%;
      margin-top: 0.4px;
      background-color: #f4f7fb;
      color: #c6c9c9;
      text-align: center;
      padding-top:1.8%;
     
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .fa-solid{
        padding: 12px;
        cursor: pointer;
        color:#a5b1ba;
        width: 15%;
        height: 15%;
        margin: -20px 28px 0px 0px;

    }
    
    #lowerNav{
        /* margin-top: -30px; */
        /* border: 1px solid red; */
      display: flex;
      height:30%;
      width:80%;
      margin-left: 18%;
      margin-top:10px;
    }
    #lowerNav>.leftnav{
        /* border: 1px solid blue; */
      display: flex;
      height:90%;
      width:100%;
     
    }
    #lowerNav>.leftnav>.let{
        /* border: 1px solid red; */
      color:rgba(255, 255, 255, 0.938);
      margin: auto;
      height:70%;
      font-size: 20px;
      font-weight:500;
      justify-content: space-evenly;
       margin-left: 1px;
    }
    .leftnav>.let a{
      text-decoration: rgba(255, 255, 255, 0.938);
      color: inherit;
    }
    .leftnav a:hover{
        transition-duration: 0.3s;
      border-bottom:3px solid white;
    }
    .leftnav a.active {
      border-bottom: 3px solid white;
    }
    .rightnav{
        /* border: 1px solid salmon; */
      height: 50px;
      width:65%;
      margin-left:20%;
      margin-right: 2%;
      display: flex;
      justify-content: space-between;
      
    }
    
    .rightnav>.symbol1{
     display:flex;
     width:40%;
     justify-content: space-around;
     padding-right:8%;
     
     
    }
     .symbol1 >.on{
         width:35px;
         height:35px;
         margin-bottom: 20px;
     }
    .rightnav>.symbol1 >.off {
      color:rgba(255, 255, 255, 0.938);
      font-size: 19px;
      font-weight: 500;
      
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
      margin-left:14px;
      padding: auto;
      
    }
    .symbol1>.off a{
      text-decoration: rgba(255, 255, 255, 0.938);;
      color: inherit;
    }

    



 

 

